{% extends "layout.html" %}

{% block title %}
Assignments
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="my-4">List of Assignments for {{ course_name }}</h1>

    <div class="mb-3">
        <a href="/newassignment?course_name={{ course_name }}" class="btn btn-primary">
            <img src="/static/plusbutton.png" width="20px" height="20px"></img>
            Add New Assignment
        </a>
    </div>

    <div class="mb-3">
        <a href="/editcourse?course_name={{ course_name }}" class="btn btn-primary">
            
            Edit Course
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Assignment</th>
                <th scope="col">Weight (%)</th>
                <th scope="col">Grade (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td> <a href="/assignments?course={{ course_name }}">{{ assignment[0] }}</a></td>
                <td>{{ assignment[1] }}</td>
                <td>{{ assignment[2] }}</td>
            </tr>
            {% endfor %}

            <tr style="background-color: #f8f9fa; font-weight: bold; border-top: 2px solid #6c757d;">
                <td> </td>
                <td>Course Average</td>
                <td>{{ avg | round(2) }}</td>
            </tr>

            <tr style="background-color: #f8f9fa; font-weight: bold">
                <td> </td>
                <td>Cumulative Average</td>
                <td>{{ avg2 | round(2) }} out of {{ max | round(2) }}</td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}