{% extends "layout.html" %}

{% block title %}
Current Courses
{% endblock %}

{% block main %}
    <h1>List of Current Courses</h1>

    <h3 id="left" style="color: rgb(173, 173, 173)">
        <span style="padding-right:3px; padding-top: 3px; display:inline-block;">

            <a href="/newcourse">
                <img class="manImg" src="/static/plusbutton.png" width="40px" height="40px"></img>
            </a>
        
        </span>
        
        Add New Course
    </h3>

{% endblock %}