{% extends "layout.html" %}

{% block title %}
Peak
{% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="my-4 animate-slide">Log assignments</h1>

    <img src="/static/arrow.png" alt="arrow" class="mb-4 animate-fade" width="44px" height="200px">

    <h1 class="my-4 animate-slide">Create courses</h1>
    
    <img src="/static/arrow.png" alt="arrow" class="mb-4 animate-fade" width="44px" height="200px">

    <h1 class="my-4 animate-slide">Reach your <span style="color: #a816ec">Peak</span>.</h1>
</div>
{% endblock %}