{% extends "layout.html" %}

{% block title %}
New Period
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="text-center my-4">Add a New Period</h1>

    <form action="/newperiod" method="post">
        <div class="form-group">
            <label for="periodname">Period Name</label>
            <input autocomplete="off" autofocus class="form-control" id="periodname" name="periodname" placeholder="Enter period name" type="text">
        </div>
        <div class="form-group">
            <label for="periodstart">Period Start Date</label>
            <input autocomplete="off" class="form-control" id="periodstart" name="periodstart" type="date">
        </div>
        <div class="form-group">
            <label for="periodend">Period End Date</label>
            <input autocomplete="off" class="form-control" id="periodend" name="periodend" type="date">
        </div>
        <button class="btn btn-primary mt-3" type="submit">Register New Period</button>
    </form>
</div>
{% endblock %}